/models/qa/model.safetensors
/workspaces/OCR-Image-to-text/models/sentence_transformer/model.safetensors

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other unnecessary files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db